* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: black;
}
nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}
nav li {
  display: inline-block;
}

#loginForm {
  background-color: antiquewhite;
  width: 300px;
  margin: auto;
  margin-top: 12%;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid red;
}

#loginForm .form-group {
  margin-bottom: 10px;
  margin-top: 10px;
}

#loginForm input {
  width: 100%;
  padding: 6px;
}

#loginForm small {
  color: red;
}

table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
}
